<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Inventory Item</title>
</head>
<body>
<h1>Add Inventory Item</h1>
<form th:action="@{/inventory/add}" th:object="${item}" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}" required/>
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" id="description" th:field="*{description}" required/>
    </div>
    <div>
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" th:field="*{quantity}" required/>
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" th:field="*{location}" required/>
    </div>
    <div>
        <label for="sku">SKU</label>
        <input type="text" id="sku" th:field="*{sku}" required/>
    </div>
    <div>
        <button type="submit">Add Item</button>
    </div>
</form>
<a th:href="@{/inventory}">Back to Inventory List</a>
<a th:href="@{/inventory/search-page}">Back to Search Page</a>
<a th:href="@{/inventory/ajax-search-page}">Back to (AJAX)Search Page</a>
</body>
</html>
