<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>File Upload</title>
</head>
<body>
	<div id="divBasic" style="border:thin solid black">
		<h3>Simple File Upload/Download</h3>
		<form method="POST" enctype="multipart/form-data"
			action="/mvc/files/upload">
			<input type="file" name="file" />
			<button type="submit">Upload</button>
		</form>
		<br>
		<form method="GET" action="/mvc/files/download">
			<input type="text" name="filename"
				placeholder="Enter filename to download" />
			<button type="submit">Download</button>
		</form>
	</div>
	<br>
	<div id="divDownload" style="border:thin solid black">
		<h3>File Download as Resource</h3>
		<form method="GET" action="/mvc/files/download/resource">
			<input type="text" name="filename"
				placeholder="Enter filename to download" />
			<button type="submit">Download</button>
		</form>

		<h3>File Download as byte[]</h3>
		<form method="GET" action="/mvc/files/download/byte">
			<input type="text" name="filename"
				placeholder="Enter filename to download" />
			<button type="submit">Download</button>
		</form>

		<h3>File Download as void</h3>
		<form method="GET" action="/mvc/files/download/void">
			<input type="text" name="filename"
				placeholder="Enter filename to download" />
			<button type="submit">Download</button>
		</form>
	</div>
	<br>
	<div id="divAdv" style="border:thin solid black">
		<h3>File Upload/Download with validation and security</h3>
		<form method="POST" enctype="multipart/form-data"
			action="/adv/files/upload">
			<input type="file" name="file" />
			<button type="submit">Upload</button>
		</form>
		<br>
		<form method="GET" action="/adv/files/download">
			<input type="text" name="filename"
				placeholder="Enter filename to download" />
			<button type="submit">Download</button>
		</form>
	</div>
</body>
</html>
